<h4>
  Internal server error - refreshing will make the error details dissapear
</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{ error.message }}</h5>
  <p class="font-weight-bold">
    Note: If you are seeing this - Angular is not guilty
  </p>
  <p>What to do next?</p>
  <ol>
    <li>Open chrome dev tools!</li>
    <li>Examine request url</li>
    <li>Reproduce problem in Postman</li>
  </ol>
  <p style="font-weight: bold">Following stack trace</p>
  <code class="mt-5">{{ error.details }}</code>
</ng-container>
